<template>
  <div>
    <!-- Main body -->
    <WhiteBox
      data-aos="fade-right"
      data-aos-offset="300"
      data-aos-duration="1500"
      data-aos-easing="ease-in-sine"
      data-aos-once="true"
    >
      <div class="row d-flex flex-column">
        <div class="col">
          <h4>Orar:</h4>
        </div>
        <div class="col">
          <div class="hstack gap-3">
            <div class="dropdown">
              <button
                class="btn btn-secondary dropdown-toggle"
                type="button"
                id="dropdownMenuButton1"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Clasa
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li v-for="(clas, index) in classes" :key="index">
                  <a class="dropdown-item" href="#">{{ clas }}</a>
                </li>
                <li><a class="dropdown-item" href="#">etc..</a></li>
              </ul>
            </div>
            <div
              id="elev"
              onclick="changeTable(this.id)"
              class="ms-auto fw-bold btn"
            >
              Elev
            </div>
            <div class="vr"></div>
            <div id="profesor" onclick="changeTable(this.id)" class="btn">
              Profesor
            </div>
          </div>
        </div>
        <div class="col">
          <div class="table-responsive">
            <table class="table table-bordered ms-2 mt-2">
              <thead>
                <tr>
                  <th scope="col">Zi/Ora</th>
                  <th scope="col" v-for="index in 8" :key="index">
                    {{ index + 7 }}
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(o, index) in orar" :key="index">
                  <th>{{ o.day }}</th>
                  <td v-for="(lesson, index) in o.ore" :key="index">
                    {{ lesson }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </WhiteBox>
    <BarsBox
      data-aos="flip-left"
      data-aos-easing="ease-out-cubic"
      data-aos-duration="1000"
      data-aos-once="true"
    >
      <div class="row mb-4">
        <div class="col d-flex flex-column">
          <h4>Euroscoala:</h4>
          <div class="ms-4">
            Parlamentul European a creat programul Euroscola pentru a informa
            tinerii despre procesul de integrare europeană și pentru a promova
            participarea lor la construcția Uniunii Europene. Programul reunește
            periodic elevi de liceu din cele 28 de state membre, oferindu-le
            ocazia, pe parcursul unei zile, de a afla cum funcționează
            Parlamentul European, de a se cunoaște între ei, de a-și împărtăși
            viziunile și așteptările.
          </div>
          <div class="d-inline-flex justify-content-end">
            <a
              class="btn btn-secondary"
              href="http://www.ltpbetel.ro/Documente/Euroscola/Programul%20%20EUROSCOLA.pdf"
            >
              Programul Euroscoala
            </a>
          </div>
          <div class="d-inline-flex justify-content-end">
            <a
              class="btn btn-secondary"
              href="http://www.ltpbetel.ro/Documente/Euroscola/Lansarea%20proiectului%20Euroscola%20%202019.pdf"
            >
              Lansarea programului Euroscoala 2019
            </a>
          </div>
        </div>
      </div>
      <div class="row mb-4 d-flex justify-content-around">
        <div class="col-12">
          <h4>Regulamente:</h4>
        </div>
        <div
          class="d-inline-flex d-flex flex-column col-12 col-md-6 border-bottom border-secondary justify-content-between"
        >
          <h6 class="underline">
            1.Regulamentul de organizare si functionare:
          </h6>
          <span>
            Liceul Teologic Penticostal Betel Oradea, Oradea (numit in
            continuare LTP Betel) este organizat si functioneaza ca unitate de
            invatamant de stat si cuprinde clase cu profil real si vocational,
            presocolar...</span
          >
          <div class="d-flex justify-content-end">
            <a
              class="btn btn-secondary"
              href="http://www.ltpbetel.ro/Documente/1.Regulamentul%20de%20organizare%20si%20functionare_LTP_Betel.pdf"
              >more...
            </a>
          </div>
        </div>
        <div
          class="d-inline-flex d-flex flex-column col-12 col-md-6 justify-content-between border-bottom border-secondary"
        >
          <h6 class="underline">2.Regulamentul intern:</h6>
          <span>
            Prezentul regulament contine prevederi specifice privind organizarea
            si functionarea LICEULUI TEOLOGIC PENTICOSTAL BETEL in conformitate
            cu legislalia si normarivele in vigoare: Constitulia Rormaniei,
            Legea invatamantului...
          </span>
          <div class="d-flex justify-content-end">
            <a
              class="btn btn-secondary"
              href="http://www.ltpbetel.ro/Documente/1.Regulamentul%20de%20organizare%20si%20functionare_LTP_Betel.pdf"
              >more...
            </a>
          </div>
        </div>
        <div
          class="d-inline-flex d-flex flex-column col-12 col-md-6 justify-content-between"
        >
          <h6 class="underline">3.Codul de etica:</h6>
          <span>
            Art,1. - (1) Prezentul Cod de Etica (denumit in continuare Cod) este
            elaborat in baza Art, l0 si a Art. l6 din ordinul ministrului
            educaliei nr.5550/2011 privind aprobarea Regulamentului de
            organizare si functionare a Consiliului national de etica din
            invatamantul preuniversitar....
          </span>
          <div class="d-flex justify-content-end">
            <a
              class="btn btn-secondary"
              href="http://www.ltpbetel.ro/Documente/1.Regulamentul%20de%20organizare%20si%20functionare_LTP_Betel.pdf"
              >more...
            </a>
          </div>
        </div>
        <div
          class="d-inline-flex d-flex flex-column col-12 col-md-6 justify-content-between"
        >
          <h6 class="underline">4.Regulamentul de organizare internat:</h6>
          <span>
            Este de datoria fiecarui elev nu numai sa respecte regulile de buna
            conduitd, ci sa fie si model de buna purtare.
          </span>

          <span>
            1. Drepturile elevilor cazati in caminul Liceului Teologic
            Penticostal
          </span>
          <span> 1.1. sa fie ascultati si respectati; </span>
          <span> ... </span>
          <div class="d-flex justify-content-end">
            <a
              class="btn btn-secondary"
              href="http://www.ltpbetel.ro/Documente/1.Regulamentul%20de%20organizare%20si%20functionare_LTP_Betel.pdf"
              >more...
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h4>Structura anului scolar:</h4>
        </div>
        <span>
          Structura anului școlar 2021-2022: Cursurile încep luni, 13
          septembrie. Când se dau teze, când sunt vacanțele programate și când
          încep Evaluarea Națională și Bacalaureatul 2022</span
        >
        <div class="d-flex justify-content-end">
          <a
            class="btn btn-secondary"
            href="https://www.edupedu.ro/structura-anului-scolar-2021-2022-cursurile-incep-luni-13-septembrie-cand-se-dau-teze-cand-sunt-vacantele-programate-si-cand-incep-evaluarea-nationala-si-bacalaureatul-2022/"
            >more...
          </a>
        </div>
      </div>
    </BarsBox>
    <WhiteBox
      data-aos-offset="50"
      data-aos-easing="ease-in-sine"
      data-aos="zoom-in"
      data-aos-once="true"
    >
      <div class="row flex-column">
        <div class="col"><h4>Postliceal:</h4></div>
        <div class="col mb-2">
          <h6 class="underline">Anunt:</h6>
          <span>
            Festivitatea de incepere a anului scolar 2021 - 2022 va avea loc
            Miercuri, 15.09.2021, ora 16:00
          </span>
        </div>
        <div class="col d-flex flex-column border-top border-secondary mt-2">
          <h6 class="underline">Anunt:</h6>
          <span> Clasele postliceal Anul I 2021 - 2022</span>
          <div>
            <a
              class="btn btn-outline-secondary"
              href="http://www.ltpbetel.ro/Documente/TABEL%20AMG_I_A%202021-2022.pdf"
            >
              AMG I A</a
            >
            <a
              class="btn btn-outline-secondary"
              href="http://www.ltpbetel.ro/Documente/TABEL%20AMG_I_B%202021-2022.pdf"
            >
              AMG I B</a
            >
          </div>
          <div class="col border-top border-secondary d-flex flex-column mt-2">
            <h6 class="underline">Anunt:</h6>
            <div>
              <a
                class="btn btn-outline-secondary"
                href="http://www.ltpbetel.ro/Documente/REZULTATE%20FINALE%20AMG%202021.pdf"
              >
                REZULTATE EXAMEN DE ABSOLVIRE AMG</a
              >
            </div>
          </div>
        </div>
        <div class="col d-flex justify-content-end">
          <a class="btn btn-secondary" href="./stiri.html">more...</a>
        </div>
      </div>
      <div class="row flex-column ms-4">
        <div class="col"><h5>Revalorizare:</h5></div>
        <div class="col border border-secondary">
          <h6 class="underline">Anunt:</h6>
          <span>Examen sesiune iunie 2017:</span>
          <div>
            <a
              class="btn btn-outline-secondary"
              href="http://www.ltpbetel.ro/Documente/TABEL%20%20PROGRAMARE%20%20SUSTINEREA%20%20%20LUCRARILOR.xlsx"
            >
              download (fisierul contine 2 foi de lucru)</a
            >
          </div>
        </div>
        <div class="col border border-secondary">
          <h6 class="underline">Anunt:</h6>
          <div>
            <div>1. Data depunerii lucrarilor:</div>
            <div>29 mai 2017 intre orele 15:00-20:00</div>
            <div>
              Tot atunci se vor depune si dosarele de inscriere pentru examen
            </div>

            <div>2. Actele necesare pentru inscrierea la examen:</div>
            <ul>
              <li>
                <a
                  class="btn btn-outline-secondary"
                  href="http://www.ltpbetel.ro/Documente/cerere%20ex%20abs.doc"
                >
                  cerere</a
                >
              </li>
              <li>
                <a
                  class="btn btn-outline-secondary"
                  href="http://www.ltpbetel.ro/Documente/Declaratie%20candidat%20norme%20examen.docx"
                >
                  declaratie</a
                >
              </li>
            </ul>

            <div>
              + 2 poze identice tip buletin si lucrarea (exemplarul pentru
              scoala).
            </div>

            <div>3. Se va achita taxa de inscriere la examen.</div>
          </div>
        </div>
        <div class="col d-flex justify-content-end">
          <a class="btn btn-secondary" href="./stiri.html">more...</a>
        </div>
      </div>
      <div class="row flex-column">
        <div class="col">
          <h4>Bacalaureat</h4>
        </div>
        <div class="col">
          <h6>Contestatii:</h6>

          <div>
            Depunerea contestatiilor in 5 iulie intre orele 12-18 la scoala sau
            pe email : bac2021betel@gmail.com
          </div>
          <a
            class="btn btn-outline-secondary"
            href="http://www.ltpbetel.ro/Documente/bacalaureat/BAC2021_Cerere%20contestatii.docx"
          >
            Cerere contestatie(docx)</a
          >
          <a
            class="btn btn-outline-secondary"
            href="http://www.ltpbetel.ro/Documente/bacalaureat/BAC2021_Cerere%20contestatii.pdf"
          >
            Cerere contestatie(pdf)</a
          >
        </div>
      </div>
    </WhiteBox>
  </div>
</template>
<script>
import WhiteBox from "@/components/WhiteBox.vue";
import BarsBox from "@/components/BarsBox.vue";
export default {
  components: { WhiteBox, BarsBox },

  data() {
    return {
      orar: [
        { day: "Luni", ore: ["Ro", "Engl", "", "", "", "", "", ""] },
        { day: "Marti", ore: ["Mate", "", "", "", "Isto", "", "", ""] },
        { day: "Miercuri", ore: ["Ro", "Engl", "", "", "", "", "", ""] },
        { day: "Joi", ore: ["", "Engl", "", "", "Geo", "", "", ""] },
        {
          day: "Vineri",
          ore: ["Logica", "Engl", "", "", "Germana", "", "", ""],
        },
      ],
      classes: ["5A", "5B", "5C", "6A", "6B", "6C"],
    };
  },
};
</script>
<style lang=""></style>
