<template lang="">
  <div>
    <!-- Main body -->

    <WhiteBox>
      <div class="row flex-column">
        <div class="col">
          <h4>Programul cu publicul la caserie:</h4>
          <div class="text-center">
            <p>LUNI - JOI 08.00 - 12.00</p>
            <p>15.00 - 16.00</p>
            <p>VINERI 08.00 - 12.00</p>
          </div>
        </div>
        <div class="col">
          <h4>Cerere internat cazare:</h4>
          <div>
            <a
              href="http://www.ltpbetel.ro/Documente/cerere%20internat-studenti.pdf"
              class="btn btn-outline-secondary"
              >Open pdf</a
            >
          </div>
          <div class="text-center">
            <img
              src="@/assets/cerere-internat-studenti.jpg"
              class="img-fluid rounded-3"
              alt="Cerere internat cazare"
              width="500"
              height="600"
            />
          </div>
        </div>
        <div class="col">
          <h4>Cantina:</h4>
          <div class="ms-4">
            <h6>Preţul unei mese la cantina şcolii este de:</h6>
            <ul>
              <li>7 lei pentru preşcolari,</li>
              <li>8 lei pentru cls. I - XII, personal</li>
            </ul>
            <p>Plata se face la caseria şcolii, la PARTER.</p>
          </div>
        </div>
      </div>
    </WhiteBox>

    <!-- Main body end -->
  </div>
</template>
<script>
import WhiteBox from "@/components/WhiteBox.vue";
export default {
  components: { WhiteBox },
};
</script>
<style lang="scss"></style>
