<template>
  <div>
    <WhiteBox
      data-aos="fade-right"
      data-aos-offset="300"
      data-aos-duration="1500"
      data-aos-easing="ease-in-sine"
      data-aos-once="true"
    >
      <div class="row">
        <h4>Conducere:</h4>
        <div class="col-md-4 col-lg-4 col-sm-12 mb-3">
          <div class="card">
            <div class="card-body text-center">
              <h5 class="card-title">
                <i class="bi bi-telephone-fill"></i>Telefon
              </h5>
              <p class="card-text">0259-410262</p>
              <p class="card-text">0359-410603</p>
              <p class="card-text">0359-410604</p>
              <p class="card-text">Fax: 0259-477192</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-12 mb-3">
          <div class="card box-h">
            <div
              class="card-body text-center d-flex flex-column justify-content-center"
            >
              <h5 class="card-title">
                <i class="bi bi-geo-alt-fill"></i>Locatie
              </h5>
              <p class="card-text">Str. Nicolae Şova Nr.6 (Oradea)</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-12 mb-3">
          <div class="card box-h">
            <div
              class="card-body text-center d-flex flex-column justify-content-center"
            >
              <h5 class="card-title">
                <i class="bi bi-envelope-fill"></i>Email
              </h5>
              <p class="card-text">secretariatbetel@yahoo.com</p>
            </div>
          </div>
        </div>
      </div>
    </WhiteBox>

    <BarsBox
      data-aos="flip-left"
      data-aos-easing="ease-out-cubic"
      data-aos-duration="1000"
      data-aos-once="true"
    >
      <div class="row">
        <h4 class="ms-2">Contact us:</h4>
      </div>
      <div
        class="border border-2 border-secondary rounded-3"
        style="height: 47rem"
      >
        <div class="row m-4">
          <div class="col-12 col-lg-4">
            <input
              type="text"
              class="form-control shadow-none border border-2 border-secondary"
              placeholder="Full name:"
              aria-label="Full name:"
            />
          </div>
          <div class="col-12 col-lg-4">
            <input
              type="text"
              class="form-control shadow-none border border-2 border-secondary"
              placeholder="Email:"
              aria-label="Email:"
            />
          </div>
          <div class="col-12 col-lg-4">
            <input
              type="text"
              class="form-control shadow-none border border-2 border-secondary"
              placeholder="Subject:"
              aria-label="Subject:"
            />
          </div>
        </div>
        <div class="row">
          <div class="col ms-4">
            <div class="input-group mb-3">
              <textarea
                class="form-control shadow-none border border-2 border-secondary input-h"
              ></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col d-flex justify-content-end me-4">
            <button class="btn btn-secondary">Send</button>
          </div>
        </div>
      </div>
    </BarsBox>
  </div>
</template>
<script>
import WhiteBox from "@/components/WhiteBox.vue";
import BarsBox from "@/components/BarsBox.vue";

export default {
  components: { WhiteBox, BarsBox },
};
</script>
<style lang=""></style>
