<template>
  <div>
    <WhiteBox
      data-aos="fade-right"
      data-aos-offset="300"
      data-aos-duration="1500"
      data-aos-easing="ease-in-sine"
      data-aos-once="true"
    >
      <div class="row flex-column">
        <div class="col">
          <h4>Istoricul scolii:</h4>
          <div class="ms-4">
            <p>
              Liceul Teologic Penticostal ”Betel” a fost fondat în anul 1994 de
              către Biserica Penticostală nr. 1 "BETEL" din Oradea, str. Ion
              Ghica nr.13, fiind proprietatea acesteia şi funcţionează sub
              călăuzirea Bisericii şi a Inspectoratului Şcolar al Judeţului
              Bihor.
            </p>
            <p>
              Liceul Teologic Penticostal ”Betel” este o instituţie şcolară
              finanţată de către stat, fiind cuprinsă în reţeaua şcolilor
              subordonate Ministerului Educaţiei şi Cercetării şi
              Inspectoratului Şcolar Judeţean Bihor şi funcţionează din anul
              1994 pe baza Dispoziţiei cu nr. 73 din 23.06.1994, iniţial sub
              denumirea de Seminarul Teologic Penticostal, denumire care a fost
              schimbată în anul 2001 prin Dispoziţia cu nr. 3093 din 18.05.2001
              de către ISJ Bihor, în Liceul Teologic Penticostal Oradea, iar din
              anul şcolar 2005-2006, cu numele de Liceul Teologic Penticostal
              ”Betel”, Oradea, prin decizia 5419/17.10.2005. Din 1994 şi până în
              anul şcolar 2004-2005 liceul a funcţionat în clădirea din Ion
              Ghica nr. 13 în cele 10 săli puse la dispoziţie de către Biserica
              Penticostală Betel.
            </p>
            <p>
              Anual şcoala s-a dezvoltat numeric şi prin introducerea ciclului
              gimnazial începând cu anul şcolar 2000-2001 fapt ce a dus la
              demararea unui proiect de construcţie a unei noi clădiri. Începând
              cu anul şcolar 2005-2006, Liceul Teologic Penticostal ”Betel” îşi
              desfăşoară activitatea într-o clădire nouă în Cartierul Nufărul
              II, pe strada Nicolae Şova nr. 6, clădire ce a fost inaugurată
              odată cu începerea noului an şcolar, respectiv în 12 septembrie
              2005.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-md-6">
          <h4>Proiecte:</h4>
          <div class="ms-4">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Est
              repellat aliquid dolorem aut eligendi, error necessitatibus
              consectetur! Ratione voluptate pariatur facere, dignissimos
              molestias ipsum non culpa, minima iste inventore dolorem. Lorem
              ipsum dolor sit amet consectetur adipisicing elit. Nobis accusamus
              libero sapiente. Odit velit corporis ut explicabo sequi,
              perspiciatis, corrupti animi, doloremque atque aliquam officia
              cupiditate maiores iste consequatur ipsum! Lorem ipsum dolor, sit
              amet consectetur adipisicing elit. Quod quidem, alias rerum qui
              repudiandae consectetur? Esse culpa corporis deserunt blanditiis
              id minus provident, harum sequi ab nobis, expedita fugit
              doloribus?
            </p>
          </div>
        </div>
        <div class="col">
          <div
            class="fb-video"
            data-href="https://www.facebook.com/watch/?ref=external&amp;v=2265318770372422"
            data-width="500"
            data-show-text="false"
          >
            <blockquote
              cite="https://www.facebook.com/ticafilm/videos/2265318770372422/"
              class="fb-xfbml-parse-ignore"
            >
              <a
                href="https://www.facebook.com/ticafilm/videos/2265318770372422/"
                >100 ANI - Marea Unire -Romania - Sarbatorim impreuna - Liceul
                Teologic Penticostal Betel Oradea</a
              >
              <p>TicaFilm</p>
              Posted by
              <a href="https://www.facebook.com/ticafilm">Tica Film</a> on
              Thursday, 29 November 2018
            </blockquote>
          </div>
        </div>
      </div>
    </WhiteBox>
    <BarsBox
      data-aos="flip-left"
      data-aos-easing="ease-out-cubic"
      data-aos-duration="1000"
      data-aos-once="true"
    >
      <div class="row">
        <h4>Conducere:</h4>
        <div
          class="col-md-4 col-lg-4 col-sm-12 mt-5 mb-5"
          v-for="(teacher, index) in teachers"
          :key="index"
        >
          <CardComponent
            :Position="teacher.role"
            :Name="teacher.name"
            :Course="teacher.course"
          />
        </div>
      </div>
    </BarsBox>

    <WhiteBox
      data-aos-offset="50"
      data-aos-easing="ease-in-sine"
      data-aos="zoom-in"
      data-aos-once="true"
    >
      <div class="row flex-column">
        <div class="col">
          <h4>Prezentare:</h4>
        </div>
        <div class="col ms-4">
          <h6>LICEUL TEOLOGIC PENTICOSTAL “BETEL” ORADEA</h6>

          <div>
            <h7> Liceul Teologic Penticostal BETEL - Oradea</h7>
            <p>
              este o extensie a Bisericii Penticostale BETEL Oradea, ce cuprinde
              învăţământul preşcolar, primar, gimnazial, liceal şi postliceal
              (asistent medical generalist şi asistent medical de farmacie).
            </p>
          </div>

          <p>
            Şcoala se pretinde a fi o instituţie de învăţământ unde adevãrul
            biblic sã penetreze în programa şcolarã şi la fiecare obiect de
            studiu. De aceea, şcoala participă la scopul general de a-l face pe
            elev asemenea Domnului nostru Isus Cristos.
          </p>
          <p>
            Şcoala se bazează pe o filozofie biblică despre viaţă. Obiectivele
            şcolii sunt biblice şi au la bazã Cuvântul lui Dumnezeu. Motto-ul
            şcolii este inspirat din Epistola Apostolului Pavel către Coloseni,
            capitolul 1, versetele 26-29.
          </p>
          <p>
            Pe această cale, conducerea şcolii îi asigură atât pe elevi cât şi
            pe cei care vor deveni elevi ai şcolii noastre că motto-ul acesta
            este urmărit în toate acţiunile intreprinse în cadrul instituţiei şi
            în afara ei. Membrii bordului de conducere trebuie să le înţeleagă
            pentru a lua decizii înţelepte, care să permită şcolii să-şi
            realizeze scopul. Pentru a se obţine aceste lucruri este nevoie de o
            viziune clară asupra scopului din învăţământul evanghelic. Această
            viziune cere studiu, lectură, seminarii şi discuţii pentru a putea
            contura obiectivul asupra căruia se concentrează şcoala noastră.
          </p>
          <p class="flex-end">Pastorul Bisericii Penticostale BETEL,</p>
          <p class="flex-end">Dr. LIVIU APOLZAN</p>

          <h8>
            Regulamentul intern al Liceului Teologic Penticostal "Betel"
            Oradea</h8
          >

          <h8>
            Motto-ul şcolii noastre este: “Excelenţă în cunoaştere şi
            dragoste”</h8
          >
          <p>
            Liceul Teologic Penticostal ”Betel” a fost fondat în anul 1994 de
            către Biserica Penticostală nr. 1 "BETEL" din Oradea, str. Ion Ghica
            nr.13, fiind proprietatea acesteia şi funcţionează sub călăuzirea
            Bisericii şi a Inspectoratului Şcolar al Judeţului Bihor.
          </p>
          <p>
            Liceul Teologic Penticostal ”Betel” este o instituţie şcolară
            finanţată de către stat, fiind cuprinsă în reţeaua şcolilor
            subordonate Ministerului Educaţiei şi Cercetării şi Inspectoratului
            Şcolar Judeţean Bihor şi funcţionează din anul 1994 pe baza
            Dispoziţiei cu nr. 73 din 23.06.1994, iniţial sub denumirea de
            Seminarul Teologic Penticostal, denumire care a fost schimbată în
            anul 2001 prin Dispoziţia cu nr. 3093 din 18.05.2001 de către ISJ
            Bihor, în Liceul Teologic Penticostal Oradea, iar din anul şcolar
            2005-2006, cu numele de Liceul Teologic Penticostal ”Betel”, Oradea,
            prin decizia 5419/17.10.2005.
          </p>
          <p>
            Din 1994 şi până în anul şcolar 2004-2005 liceul a funcţionat în
            clădirea din Ion Ghica nr. 13 în cele 10 săli puse la dispoziţie de
            către Biserica Penticostală "Betel". Anual şcoala s-a dezvoltat
            numeric şi prin introducerea ciclului gimnazial începând cu anul
            şcolar 2000-2001 fapt ce a dus la demararea unui proiect de
            construcţie a unei noi clădiri.
          </p>
          <p>
            Începând cu anul şcolar 2005-2006, Liceul Teologic Penticostal
            ”Betel” îşi desfăşoară activitatea într-o clădire nouă în Cartierul
            Nufărul II, pe strada Nicolae Şova nr. 6, clădire ce a fost
            inaugurată odată cu începerea noului an şcolar, respectiv în 12
            septembrie 2005. Clădirea dispune de 43 de săli de clasă destinate
            atât activităţilor instructiv-educative ale copiilor cât şi pentru
            diferite laboratoare (informatică, chimie-biologie, limbi moderne,
            muzică), o cantină, teren de sport, cabinet medical.
          </p>
          <p>
            Obiectivul principal al şcolii noastre îl constituie desfăşurarea
            unei munci instructiv-educative, profesionale şi
            administrativ-gospodăreşti pentru realizarea reformei
            învăţământului, pentru pregătirea intelectuală şi morală a elevilor,
            pentru asigurarea unei integrări eficiente a lor în muncă şi în
            societate.
          </p>
          <p>Resurse umane şi bază materială</p>
          <p>
            Liceul Teologic Penticostal ”Betel” are următoarele forme de
            învăţământ:
          </p>
          <ul>
            <li>ciclul preşcolar: 4 grupe (cu program prelungit)</li>
            <li>ciclul primar - 15 clase</li>
            <li>ciclul gimnazial - 12 clase</li>
            <li>
              ciclul liceal: câte 2 clase pe fiecare nivel, una profil
              matematică-informatică şi una profil teologie
            </li>
            <li>
              şcoala postliceală sanitară – specializările: asistent medical
              generalist şi asistent de farmacie
            </li>
          </ul>
          <p>
            Din anul şcolar 2006-2007, liceul nostru are din cele trei clase de
            a V-a, una cu studiul limbii engleze intensiv. În anul şcolar
            2010-2011, numărul elevilor care au studiat în liceul nostru a fost
            de aproximativ 1160 de elevi, îndrumaţi de un corp profesoral
            alcătuit din 60 de profesori.
          </p>
          <p>
            Liceul Teologic Penticostal ”Betel” se bucură de o bază materială de
            excepţie, punând la dispoziţia elevilor săi: - cabinet medical -
            sală de mese - cabinet de informatică – o reţea cu 25 de
            calculatoare performante, conectată la Internet, imprimantă laser,
            scanner laboratorul este destinat atât orelor de informatică cât şi
            celorlalte materii de studiu. - cabinet de limbi moderne –o reţea cu
            30 de pupitre de lucru, fiecare fiind dotat cu o cască, un microfon
            şi un casetofon, interconectate la pupitrul profesorului - cabinet
            de muzică – dotat cu următoarele instrumente: o chitară bas, o
            chitară electrică, două chitare clasice, două viori, un pian
            electric, un keyboard, un set de tobe, un flaut, un acordeon, o orga
            electrică şi zece bleukflaute - bibliotecă – dotată cu o gamă
            diversificată de cărţi (literatură creştină, beletristică, culegeri
            de probleme, alte discipline) - săli de clasă spaţioase şi luminoase
            - cu 30 de locuri, în care elevii şi profesorii îşi pot desfăşura
            activitatea în cele mai bune condiţii
          </p>
          <p class="text-primary">
            Viziunea şcolii –Director: prof. Onisim Cozma
          </p>
          <p>
            Confruntarea învăţământului românesc cu nevoile societăţii
            contemporane, modernizarea şi ridicarea calităţii sale la nivelul
            standardelor educative europene, impun imperios o mai mare atenţie
            organizării manageriale în întregul sistem. Învăţământul confesional
            (creştin) vine să completeze caracteristicile şcolii de mâine care
            are ca deziderat pregătirea elevilor pentru « A FI » şi « A DEVENI
            », să adâncească şi să oglindească practic aceste principii atât în
            societate cât şi la nivelul fiecărui individ. Cunoaşterea,
            comunicarea şi munca în echipă fac eficientă orice activitate
            desfăşurată în cadrul unităţii şcolare. Obiectivul principal al
            şcolii noastre îl constituie desfăşurarea unei activităţi
            instructiv-educative profesionale, pentru pregătirea intelectuală şi
            spirituală a elevilor, pentru asigurarea unei integrări eficiente a
            lor în muncă şi în societate.
          </p>
          Educaţia elevului dintr-o şcoală creştină este mai mult decât o sursă
          de existenţă sau realizarea pe plan profesional, ea este o slujire
          duhovnicească în toată puterea cuvântului. Profesorul din liceul
          nostru va lucra nu numai la nivelul minţii, ci şi a inimii, pentru ca
          în final, elevul să fie desăvârşit şi destoinic (echipat) pentru orice
          lucrare bună. Misiunea şcolii –Pastor coordonator: prof. Iuliu Centea
          -Platon a iniţiat prima academie ca să educe caracterul. Procesul
          educaţional are ca busolă cercetarea adevărului care să modeleze un
          caracter frumos. Dr. H. Gene Garrick afirma: ”Misiunea educaţiei şi a
          învăţământului este transmiterea ordonată a adevărului de la o
          generaţie la alta.”
          <p>
            Misiunea Liceului Teologic Penticostal din Oradea este transmiterea
            ordonată a adevărului ştiinţific şi a adevărului revelat în Sfintele
            Scripturi pentru a modela oameni de caracter, integraţi în
            societatea românească şi euro-atlantică a secolului 21, având un
            nivel de cunoştinţe adecvat, astfel încât să ştie ce sunt şi ce se
            intenţionează ca ei să devină. Obiectivul nostru primordial este să
            le dăm elevilor cunoştinţe de o înaltă ţinută ştiinţifică.
            Adevărurile ştiinţei vor fi prezentate din punct de vedere teist.
            Recunoaştem că fiecare elev are o valoare, daruri şi talente unice
            din partea lui Dumnezeu. De aceea, îi vom ajuta să-şi descopere
            vocaţia şi să şi-o ducă la îndeplinire într-un mod înţelept, pentru
            binele societăţii în care trăim şi pentru a fi oameni morali. Credem
            că educaţia presupune nu numai acumularea de cunoştinţe teoretice,
            ci şi aplicarea lor în viaţa de toate zilele.
          </p>
          <p>
            Misiunea Liceului Teologic Penticostal este să-i conducă pe elevi,
            să dea societăţii, oameni cu o înaltă pregătire academică, cu un
            caracter frumos dăltuit, după modelul christic, cu abilitatea de a
            se integra în diferite domenii ale vieţii sociale, fiind util în
            societate sau “omul potrivit la locul potrivit” Şcoala oferă
            finalităţile curriculumu-lui pe cicluri de învăţământ, cadre
            calificate pentru comunitate, precum şi un sistem de formare
            continuă pentru cadre didactice la nivelul comunităţii.
          </p>
          <p>Dintre activităţile şcolii</p>
          <p>
            „Învaţă pe copil calea pe care trebuie s-o urmeze şi când va
            îmbătrâni, nu se va abate de la ea” (Proverbe 22:6) este deviza orei
            săptămânale de Capelă. Este un program deschis pentru profesori,
            elevi, părinţi şi vizitatori, în care sunt prezentate adevăruri
            biblice, elevii participând în mod activ alături de formaţia
            instrumental – vocală „Betel” (trupa şcolii), grupuri de coregrafie,
            trupe de pantomimă, recitaluri poetice şi muzicale, mărturii ale
            efectului cuvântului lui Dumnezeu în viaţa personală.
          </p>
          <p>
            Corul Liceului Teologic Penticostal „Betel” cuprinde elevii cu
            talent muzical. A înregistrat numeroase participări la festivaluri
            de muzică religioasă, concursuri şcolare, fiind evidenţiat cu
            premii.
          </p>
          <p>
            Anual Sărbătoarea Bobocilor este aşteptată cu nerăbdare de toţi
            elevii şi profesorii din liceu. Cu multă ingeniozitate, elevii
            claselor a X-a pregătesc pentru boboci probe de cultură biblică,
            cultură generală, îndemânare, aptitudini muzicale etc., fiind un mod
            de descoperire a unor talente care vor fi cultivate de-a lungul
            anilor de studiu.
          </p>
          <p>
            Un mare succes în rândul elevilor îl are Teatrul Literar. Elevii
            sunt antrenaţi de profesorii de limba română pentru punerea în scenă
            a unor fragmente/opere literare cunoscute („Luceafărul”, „Sara pe
            deal” de M. Eminescu, „Şapte uşi” de C. Ioanid, „Zburătorul” de I.H.
            Rădulescu).
          </p>
          <p>
            Din palmaresul activităţilor extra-şcolare nu lipsesc cele cu
            caracter caritabil şi misionar. Astfel în liceu funcţionează grupe
            orientate pe vizite la spitale, orfelinate, grupe cu accent pe
            ajutorarea văduvelor şi orfanilor, grupe speciale de rugăciune
            (Gărzile HABACUC). Există activităţi orientate spre elevii proveniţi
            din familiile aflate în dificultate (nevoi sociale, financiare,
            relaţionale) Proiectul „Şi ei au dreptul să zâmbească” se află în
            derulare, voluntari dintre elevi investind timp şi resurse materiale
            alături de Fundaţia „Iubeşte Oamenii” .
          </p>
          <p>
            Elevii şi profesorii au fost implicaţi în susţinerea concertelor
            corului „TE DEUM ADORAMUS PHILARMONIA”, desfăşurate la Casa de
            Cultură a Sindicatelor din Oradea şi Deva. Festivalul de muzică
            creştină contemporană „Bartimeu” a solicitat implicarea în
            organizare a Consiliului Elevilor Liceului Teologic Penticostal
            „Betel”.
          </p>
          <p>
            De asemenea, Consiliul Elevilor organizează întreceri sportive (şah,
            ping-pong, fotbal). O activitate îndrăgită este participarea
            claselor prin grupe de misiune la programele duminicale ale
            bisericilor din judeţ, elevii împărtăşind adevărurile experimentate
            în Liceul Teologic Penticostal „Betel”.
          </p>
          <p>
            De asemenea, un grup de elevi şi de profesori ai şcolii noastre
            participă în fiecare an la conferinţele din Budapesta organizate de
            ACSI (Asociaţia Internaţională a Şcolilor Creştine). Acolo ei au
            oportunitatea să cunoască şi să înveţe împreună cu elevi de la şcoli
            creştine din întreaga lume.
          </p>
          <p>
            Şcoala noastră este membră ACSI (Asociaţia Internaţional ă a
            Şcolilor Creştine) din anul 1996. În condiţiile declinului moral din
            învăţământul românesc, şcolile creştine ACSI sunt tot mai căutate de
            părinţi şi elevi pentru calitatea educaţiei şi mediul moral şi
            spiritual oferit. Absolvenţii acestor şcoli se prezintă la
            admiterile în învăţământul superior în postura unor candidaţi bine
            pregătiţi, gata de efort susţinut. Majoritatea studenţilor de la
            institutele teologice, aparţinând de învăţământul superior, vin de
            la liceele teologice ACSI, absolvenţii acestora constituind
            pepiniera de cadre pentru personalul de cult. Absolvenţii care nu
            urmează învăţământ superior sau postliceal sunt preferaţi la
            angajările de personal cu studii medii pentru calităţile lor de
            oameni muncitori şi cinstiţi. Considerăm că infracţionalitatea în
            rândul tinerilor ar putea scădea semnificativ prin creşterea
            numărului absolvenţilor de şcoli confesionale, capabili să apere
            valorile morale şi spirituale necesare societăţii noastre.
          </p>
          <p>Scopul şcolii noastre este ca absolventul să fie:</p>
          <ul>
            <li>
              din punct de vedere academic - bine pregătit la toate disciplinele
              de învăţământ, echipat cu competenţele de bază cerute de MEC;
            </li>
            <li>
              din punct de vedere spiritual - să-L cunoască pe Dumnezeu şi să
              dorească apropierea de El printr-o relaţie personală cu Isus
              Hristos; - să cunoască Cuvântul lui Dumnezeu şi să-l aplice în
              viaţa de zi cu zi; - să fie implicaţi activ într-o biserică
              locală, slujindu-L pe Dumnezeu şi semenii.
            </li>
            <li>
              din punctul de vedere al calităţii de cetăţean - să înţeleagă, să
              preţuiască şi să practice deprinderile de bun cetăţean al ţării în
              care l-a aşezat Dumnezeu; - să înţeleagă cultura, istoria şi
              formele de guvernare ale altor popoare în vederea promovării unor
              relaţii bazate pe respect şi toleranţă; - să fie echipat cu o
              concepţie creştină despre lume şi viaţă care să-i permită să aibă
              o gândire critică asupra lumii şi vieţii pe baza valorilor şi
              principiilor creştine; - să fie echipat cu un set de valori
              indispensabile coeziunii societăţii, cum ar fi, respect pentru:
              valorile familiale, autoritatea şi ordinea socială, îndatoririle
              civice şi sociale, mediul ecologic şi pentru moştenirea culturală
              a poporului nostru.
            </li>
            <li>
              din punctul de vedere al deprinderilor comportamentale - să
              respecte şi să stabilească relaţii corecte cu semenii, având
              dorinţa de a-i ajuta pe cei dezavantajaţi; - să fie educat în
              etica muncii, apreciind că orice profesie are demnitate şi că ea
              trebuie făcută dintr-o înaltă conştiinţă morală, ca pentru
              Dumnezeu; - să folosească într-un mod înţelept timpul liber; să
              dovedească abilităţi în rezolvarea problemelor şi în luarea
              deciziilor. Iată valorile fundamentale ale unei şcoli creştine, pe
              care ni le însuşim şi noi:
              <ul>
                <li>
                  1. Procesul de predare-învăţare trebuie să fie centrat pe
                  nevoile elevului, nevoi intelectuale, fizice, emoţionale,
                  sociale şi moral-spirituale, ţinându-se cont de
                  particularităţile de vârstă şi individuale.
                </li>
                <li>
                  2. Şcoala trebuie să urmărească excelenţa în însuşirea
                  competenţelor academice, la toate disciplinele de învăţământ,
                  conform cerinţelor MEC.
                </li>
                <li>
                  3. Elevilor trebuie să li se ofere posibilitatea să-şi urmeze
                  traseul educaţional în profilurile de bază ale liceelor
                  româneşti, real sau uman, în funcţie de înclinaţiile, dotarea
                  şi interesul lor.
                </li>
                <li>
                  4. Informaţia nu poate fi separată de valorile morale,
                  procesul transmiterii ei nefiind neutru din punct de vedere
                  moral.
                </li>
                <li>
                  5. Procesul de predare-învăţare trebuie să fie holistic,
                  adresându-se întregii personalităţi a elevului, incluzând
                  componenta moral-spirituală.
                </li>
                <li>
                  6. Şcoala trebuie să urmărească formarea caracterului
                  bazându-se pe adevăr, sinceritate, respect şi ajutor reciproc,
                  integritate în toate domeniile vieţii.
                </li>
                <li>
                  7. Şcoala trebuie să participe la activităţile social-civice,
                  dezvoltând în elev sentimentul responsabilităţii sociale şi a
                  participării civice.
                </li>
                <li>
                  8. Şcoala trebuie să urmărească renaşterea duhovnicească a
                  elevului pentru ca acesta să trăiască în ascultare de Cuvântul
                  lui Dumnezeu, condiţie sine qua non a fericirii de acum şi a
                  celei veşnice.
                </li>
                <li>
                  9. Şcoala trebuie să promoveze o perspectivă creştină asupra
                  lumii şi vieţii fundamentată pe principiile Sfintei Scripturi.
                </li>
                <li>
                  10. Elevii trebuie să fie învăţaţi principiile integrării
                  biblice în toate domeniile vieţii, depăşind dihotomia
                  sacru-profan, integrând treptat totul în domeniul sacrului,
                  prin ascultarea de Cuvântul lui Dumnezeu.
                </li>
                <li>
                  11. Principiile creştine trebuie să pătrundă toate domeniile
                  de activitate ale şcolii.
                </li>
                <li>
                  12. Şcoala trebuie să angajeze profesori regeneraţi spiritual,
                  cu o înaltă calificare profesională şi o înaltă ţinută
                  moral-spirituală.
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </WhiteBox>
    <BarsBox
      data-aos="flip-left"
      data-aos-easing="ease-out-cubic"
      data-aos-duration="1000"
      data-aos-once="true"
    >
      <div class="row flex-column">
        <div class="col">
          <h4>Comisia pentru Evaluarea si Asigurarea Calitatii(C.E.A.C):</h4>
        </div>
        <div class="col">
          <div class="table-responsive">
            <table class="table table-bordered border-secondary">
              <thead>
                <tr>
                  <th class="text-decoration-underline" style="width: 50%">
                    Nume si Prenume:
                  </th>
                  <th class="text-decoration-underline">Functia:</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="person in people" :key="person">
                  <td class="fw-bold">{{ person.name }}</td>
                  <td>{{ person.function }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </BarsBox>
  </div>
</template>
<script>
import WhiteBox from "@/components/WhiteBox.vue";
import BarsBox from "@/components/BarsBox.vue";
import CardComponent from "@/components/CardComponent.vue";
export default {
  components: { WhiteBox, BarsBox, CardComponent },
  data() {
    return {
      teachers: [
        {
          name: "Tirla Cornelia",
          role: "Director adjunct",
          course: "Limba engleză",
        },
        {
          name: "Cozma Onesim",
          role: "Director general",
          course: "Limba şi literatura română",
        },
        {
          name: "Centea Iuliu",
          role: "Pastor coordonator",
          course: "Teologie",
        },
      ],
      people: [
        { name: "prof. Medrea Camelia", function: "Responsabil" },
        { name: "prof. Cozma Onesim", function: "Membru" },
        {
          name: "prof. Romaneţ Remus",
          function: "Membru - reprezentant sindicat",
        },
        { name: "prof. Rusu Carmen", function: "Membru" },
        { name: "înv. Martin Maria", function: "Membru" },
        { name: "prof. Fazecas Debora", function: "Membru" },
        { name: "prof. Hodisan Mirela", function: "Membru" },
        { name: "prof. Chichinejdi Eugenia", function: "Membru" },
        {
          name: "Apolzan Liviu",
          function: "Membru - Reprezentant autoritate locala",
        },
        {
          name: "Vasilescu Daniela",
          function: "Membru - Reprezentant parinti",
        },
        { name: "Trifan Anamaria", function: "Membru - Reprezentant elevi" },
        {
          name: "Curpaş Florentina",
          function: "Membru- Responsabil scoala postliceala",
        },
      ],
    };
  },
};
</script>
<style lang="scss">
$circleSize: 6vw;

@mixin cricle-radius($radius) {
  width: $radius;
  height: $radius;
}

.cricle-size {
  @include cricle-radius($circleSize);
}
</style>
