<template>
  <div>
    <WhiteBox
      data-aos="fade-right"
      data-aos-offset="300"
      data-aos-duration="1500"
      data-aos-easing="ease-in-sine"
      data-aos-once="true"
    >
      <div class="row">
        <div class="d-flex flex-column justify-content-evenly">
          <h4 class="grow">Profesori:</h4>
          <ul class="ms-4">
            <li>
              <a
                class="btn text-start shadow-none"
                title="Click for more"
                href="http://www.ltpbetel.ro/Documente/profesori/Anexa3_ordin_calendar_mobilitate_2020.pdf"
              >
                Calendar mobilitate personal didactic.</a
              >
            </li>
            <li>
              <a
                class="btn text-start shadow-none"
                title="Click for more"
                href="http://www.ltpbetel.ro/Documente/profesori/Adresa_7852_26052020.pdf"
              >
                Precizări examen definitivat.</a
              >
            </li>
            <li>
              <a
                class="btn text-start shadow-none"
                title="Click for more"
                href="http://www.ltpbetel.ro/Documente/profesori/Adresa_7890_precizari_formare_continua_prin_grad_i_ii.pdf"
              >
                Precizari grad I, II.</a
              >
            </li>
            <li>
              <a
                class="btn text-start shadow-none"
                title="Click for more"
                href="http://www.ltpbetel.ro/Documente/profesori/MODEL%20adeverinta_note_isp_2020.doc"
              >
                Model adeverință note inspecții (definitivat).</a
              >
            </li>
            <li>
              <a
                class="btn text-start shadow-none"
                title="Click for more"
                href="http://www.ltpbetel.ro/Documente/profesori/Graficul%20desf%C4%83%C8%99ur%C4%83rii%20concursului%20pentru%20acordarea%20grada%C8%9Biilor%20de%20merit.docx
                "
              >
                Graficul gradații de merit.</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="d-flex flex-column justify-content-evenly">
          <h4 class="grow">Elevi:</h4>

          <div class="d-flex justify-content-evenly mb-2 border-bottom">
            <a
              class="btn text-start shadow-none border"
              title="Click for more"
              href="http://www.ltpbetel.ro/Documente/burse/CERERE%20BURS%C4%82%20DE%20AJUTOR%20SOCIAL%20BOAL%C4%82.docx"
            >
              Cerere bursa ajutor social - boala (docx)
            </a>
            <a
              class="btn text-start shadow-none border"
              title="Click for more"
              href="http://www.ltpbetel.ro/Documente/burse/CERERE%20BURS%C4%82%20DE%20AJUTOR%20SOCIAL%20ORFANI.docx"
            >
              Cerere bursa ajutor social - orfani (docx)
            </a>
            <a
              class="btn text-start shadow-none border"
              title="Click for more"
              href="http://www.ltpbetel.ro/Documente/burse/CERERE%20BURS%C4%82%20DE%20AJUTOR%20SOCIAL%20RURAL.docx"
            >
              Cerere bursa ajutor social - rural (docx)
            </a>
            <a
              class="btn text-start shadow-none border"
              title="Click for more"
              href="http://www.ltpbetel.ro/Documente/burse/CERERE%20BURS%C4%82%20DE%20AJUTOR%20SOCIAL%20VENITURI%20MICI.docx"
            >
              Cerere bursa ajutor social - venituri mici (docx)
            </a>
          </div>
          <div class="d-flex justify-content-evenly mb-2 border-bottom">
            <a
              class="btn text-start shadow-none border"
              title="Click for more"
              href="http://www.ltpbetel.ro/Documente/burse/CERERE%20BURSA%20DE%20PERFORMANTA.docx"
            >
              Cerere bursa de performanta.</a
            >
            <a
              class="btn text-start shadow-none border"
              title="Click for more"
              href="http://www.ltpbetel.ro/Documente/burse/CERERE%20BURS%C4%82%20DE%20STUDIU.docx"
            >
              Cerere bursa de studiu.</a
            >
            <a
              class="btn text-start shadow-none border"
              title="Click for more"
              href="http://www.ltpbetel.ro/Documente/burse/CERERE%20BURS%C4%82%20MERIT.docx"
            >
              Cerere bursa de merit.</a
            >
          </div>
          <div class="d-flex justify-content-evenly mb-2 border-bottom">
            <a
              class="btn text-start shadow-none border"
              title="Click for more"
              href="http://www.ltpbetel.ro/Documente/burse/Cereri%20burse.pdf"
            >
              Cereri burse (PDF) .</a
            >
            <a
              class="btn text-start shadow-none border"
              title="Click for more"
              href="http://www.ltpbetel.ro/Documente/burse/Criterii%20de%20acordare%20a%20%20burselor.pdf"
            >
              Criterii de acordare a burselor (PDF) .</a
            >
          </div>
          <div class="d-flex justify-content-evenly border">
            <a
              class="btn text-start shadow-none"
              title="Click for more"
              href="http://www.ltpbetel.ro/Documente/burse/Ordin%20nr%205576%20criterii%20acordare%20%20burse.pdf"
            >
              Ordin nr 5576 - criterii de acordare burse (PDF) .</a
            >
          </div>
        </div>
      </div>
      <div class="row">
        <h4>Secretariat:</h4>
        <div class="ms-4">
          <h6>TAXA DEFINITIVAT SE PLATESTE LA:</h6>
          <p>BENEFICIAR: LICEUL TEOLOGIC PENTICOSTAL BETEL</p>
          <p>CIF: 12583587</p>
          <p>CONT IBAN: RO10TREZ07621E330500XXXX</p>
        </div>
      </div>
    </WhiteBox>
    <BarsBox
      data-aos="flip-left"
      data-aos-easing="ease-out-cubic"
      data-aos-duration="1000"
      data-aos-once="true"
    >
      <div class="row flex-column">
        <div class="col">
          <h4>Covid:</h4>
          <div class="ms-4">
            <p>
              Pandemia a provocat cea mai distructivă perturbare a educației din
              istorie. Este așadar vital ca școala să continue cu prezență
              fizică și fără întreruperi.
            </p>
            <p>
              Pentru a menține școlile deschise și în siguranță, OMS, UNICEF și
              UNESCO au adoptat un set de opt recomandări, formulate de experții
              din cadrul Grupului Consultativ Tehnic (GCT) pentru Regiunea
              Europeană a OMS, cu privire la școlarizarea pe durata pandemiei de
              COVID-19.
            </p>
            <ol>
              <li>
                Școlile trebuie să fie printre ultimele instituții care se
                închid și printre primele care se redeschid.
              </li>
              <li>Implementarea unei strategii de testare.</li>
              <li>Asigurarea unor măsuri eficace de reducere a riscurilor.</li>
              <li>Protejarea bunăstării mintale și sociale a copiilor.</li>
              <li>
                Protejarea copiilor celor mai vulnerabili și mai marginalizați.
              </li>
              <li>Îmbunătățirea mediului școlar.</li>
              <li>
                Implicarea copiilor și a adolescenților în luarea deciziilor.
              </li>
              <li>
                Implementarea unei strategii de vaccinare care să permită
                copiilor să continue școala.
              </li>
            </ol>
          </div>
        </div>
        <div class="col">
          <h4>Declaratie avere:</h4>
          <div class="ms-4 d-flex flex-column">
            <div class="d-flex align-items-center">
              <div class="float-start">Director, prof. Cozma Onesim:</div>
              <a
                class="btn btn-secondary"
                href="http://www.ltpbetel.ro/Documente/COZMA%20ONESIM2019.pdf"
                >download</a
              >
            </div>
            <div class="d-flex align-items-center">
              <div class="float-start">
                Director adjunct, prof. Tirla Cornelia:
              </div>
              <a
                class="btn btn-secondary"
                href="http://www.ltpbetel.ro/Documente/TIRLA%20CORNELIA2019.pdf"
                >download</a
              >
            </div>
            <div class="d-flex align-items-center">
              <div class="float-start">Secretar sef Cabujan Doina:</div>
              <a
                class="btn btn-secondary"
                href="http://www.ltpbetel.ro/Documente/CABUJAN%20DOINA2019.pdf"
                >download</a
              >
            </div>
            <div class="d-flex align-items-center">
              <div class="float-start">Contabil sef Romanet Mihaela:</div>
              <a
                class="btn btn-secondary"
                href="http://www.ltpbetel.ro/Documente/ROMANET%20MIHAELA2019.pdf"
                >download</a
              >
            </div>
            <div class="d-flex align-items-center">
              <div class="float-start">
                Transparenta veniturilor Septembrie 2019:
              </div>
              <a
                class="btn btn-secondary"
                href="http://www.ltpbetel.ro/Documente/transparenta%20veniturilor%20SEPTEMBRIE%20%202019.xlsx"
              >
                download xlsx</a
              >
              <div style="font-size: 2rem">/</div>
              <a
                class="btn btn-secondary"
                href="http://www.ltpbetel.ro/Documente/transparenta%20veniturilor%20SEPTEMBRIE%20%202019.pdf"
              >
                download pdf</a
              >
            </div>
          </div>
        </div>
      </div>
    </BarsBox>
  </div>
</template>
<script>
import WhiteBox from "@/components/WhiteBox.vue";
import BarsBox from "@/components/BarsBox.vue";

export default {
  components: { WhiteBox, BarsBox },
};
</script>
<style lang=""></style>
