<template lang="">
  <div>
    <!-- Main body -->
    <WhiteBox>
      <div class="row d-flex flex-lg-row flex-column-reverse">
        <div class="col d-flex align-items-center">
          <div class="d-flex flex-column">
            <HomeInfoBox
              title="Un scurt istoric al scolii noastre:"
              content="Liceul Teologic Penticostal 'Betel' a fost fondat în anul 1994
                  de către Biserica Penticostală nr. 1 'BETEL' din Oradea, str.
                  Ion Ghica nr.13, fiind proprietatea acesteia şi funcţionează
                  sub călăuzirea Bisericii şi a Inspectoratului Şcolar al
                  Judeţului Bihor."
            />
            <HomeInfoBox
              title="Scopul scolii noastre:"
              content="Confruntarea învăţământului românesc cu nevoile societăţii
                  contemporane, modernizarea şi ridicarea calităţii sale la
                  nivelul standardelor educative europene, impun imperios o mai
                  mare atenţie organizării manageriale în întregul sistem.
                  Învăţământul confesional (creştin) vine să completeze
                  caracteristicile şcolii..."
            />
          </div>
        </div>
        <div class="col mb-3">
          <img
            src="@/assets/Design_fara_titlu_12.png"
            class="img-fluid rounded-3"
            alt="betelImg"
          />
        </div>
      </div>
    </WhiteBox>
  </div>
</template>
<script>
import WhiteBox from "@/components/WhiteBox.vue";
import HomeInfoBox from "../components/HomeInfoBox.vue";
export default {
  components: { WhiteBox, HomeInfoBox },
};
</script>
<style lang=""></style>
