<template>
  <div>
    <WhiteBox
      data-aos="fade-right"
      data-aos-offset="300"
      data-aos-duration="1500"
      data-aos-easing="ease-in-sine"
      data-aos-once="true"
    >
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-evenly">
          <div>
            <h4 class="grow">Admitere liceu:</h4>

            <h6>Documente:</h6>
            <a
              class="btn text-start shadow-none"
              title="Click for more"
              href="http://www.ltpbetel.ro/Documente/evaluarea_nationala/1.%20Ordin%204916_2019%20EN%20VIII%20%202019-2020.pdf"
            >
              Ordin privind organizarea și desfășurarea Evaluării Naționale an
              școlar 2019 - 2020.</a
            >
            <a
              class="btn text-start shadow-none"
              title="Click for more"
              href="http://www.ltpbetel.ro/Documente/evaluarea_nationala/5.%20Procedura%20egalizare%20sanse%20nr%20%20%2026651_2019.pdf"
            >
              Procedură egalizare șanse pentru elevii care susțin examenele
              naționale.</a
            >
            <a
              class="btn text-start shadow-none"
              title="Click for more"
              href="http://www.ltpbetel.ro/Documente/evaluarea_nationala/MO_admitere%202020.pdf"
            >
              Ordin privind organizarea și desfășurarea admiterii la Liceu.</a
            >
            <a
              class="btn text-start shadow-none"
              title="Click for more"
              href="http://www.ltpbetel.ro/Documente/evaluarea_nationala/anexa%201%20-%20Calendar%20Admitere.pdf"
            >
              CALENDAR ADMITERE ÎN ÎNVĂȚĂMÂNTUL LICEAL DE STAT (ANEXA 1 la ordin
              MEN nr. 4948/2019).</a
            >
            <a
              class="btn text-start shadow-none"
              title="Click for more"
              href="http://www.ltpbetel.ro/Documente/evaluarea_nationala/Anexa_3_metodologie%20%20%20%20organizare-desfasurare%20+%20%20structura%20probe%20aptitudini%20admitere%20licee%20%20%20%20vocationale.pdf"
            >
              METODOLOGIA DE ORGANIZARE ŞI DESFĂŞURARE ŞI STRUCTURA PROBELOR DE
              APTITUDINI PENTRU ADMITEREA ÎN LICEELE VOCAȚIONALE.</a
            >
          </div>
          <div>
            <h4>Evaluare nationala:</h4>
            <div class="ms-4">
              <h6>Contestatii:</h6>

              <p>Depunerea contestatiilor in</p>
              <p>
                29 iulie intre orele 14:00-19:00 & 30 iulie intre orele
                08:00-12:00 la scoala sau pe email :
              </p>
              <p>evnat@ltpbetel.ro</p>
              <a
                class="btn btn-outline-secondary"
                href="http://www.ltpbetel.ro/Documente/evaluarea_nationala/cerere%20contestatie.docx"
              >
                Cerere contestatie(docx)</a
              >
              <a
                class="btn btn-outline-secondary"
                href="http://www.ltpbetel.ro/Documente/evaluarea_nationala/cerere%20contestatie.pdf"
              >
                Cerere contestatie(pdf)</a
              >
            </div>
          </div>
        </div>
        <div class="col">
          <img
            src="@/assets/calendar-EN-VIII-2021.jpeg"
            class="img-fluid rounded-3 border border-secondary border-3"
            alt="betelImg"
          />
        </div>
      </div>
    </WhiteBox>
    <BarsBox
      data-aos="flip-left"
      data-aos-easing="ease-out-cubic"
      data-aos-duration="1000"
      data-aos-once="true"
    >
      <div class="row">
        <div class="col">
          <img
            src="@/assets/GrupaMica.jpg"
            class="img-fluid rounded-3"
            alt="betelImg"
          />
        </div>
        <div class="col-lg-6 col-12 col-md-12">
          <h5>Inscriere invatamant primar:</h5>
          <div class="ms-4">
            <div>
              Repartizarea elevilor pe clase în clasa pregătitoare an școlar
              2021-2022.
              <a
                class="btn btn-secondary text-start shadow-none"
                title="Click for more"
                href="http://www.ltpbetel.ro/Documente/inscriereprimar2021/Clase%20pregatitoare%20an%20scolar%202021-2022.pdf"
                >more...
              </a>
            </div>
            <div>
              Rezultate înscriere clasa pregătitoare an școlar 2021-2022.
              <a
                class="btn btn-secondary text-start shadow-none"
                title="Click for more"
                href="http://www.ltpbetel.ro/Documente/inscriereprimar2021/tabel%20nominal%20clasa%20pregatitoare.pdf"
                >more...
              </a>
            </div>

            <div class="card">
              <div class="card-body">
                <h5 class="card-title border-bottom">Atenție!</h5>
                <p class="card-text">
                  Conform Calendarului, înscrierile încep cu data de 29.03.2021.
                </p>

                <p>
                  Criteriile specifice de departajare se aplică după ce au fost
                  respectate și aplicate Criteriile generale, conform OME nr
                  3473 / 2021
                </p>
                <p>
                  La depunera dosarului pentru fiecare criteriu specific de
                  departajare părintele sau tutorele legal va anexa dovezi ale
                  îndeplinirii acestora.
                </p>
                <p>
                  Se pot solicita informatii si la adresa de email
                  contact@ltpbetel.ro
                </p>
              </div>
            </div>

            <div>
              ORDIN Nr. 3.473 (privind aprobarea Metodologiei de inscriere a
              copiilor in invatamantul primar pentru anul scolar 2021-2022 si a
              Calendarului inscrierii) .
              <a
                class="btn btn-secondary text-start shadow-none"
                title="Click for more"
                href="http://www.ltpbetel.ro/Documente/inscriereprimar2021/OME%203473-10.03.2021_metodologie.pdf"
                >more...</a
              >
            </div>
            <div>
              CALENDARUL ÎNSCRIERII ÎN ÎNVĂȚĂMÂNTUL PRIMAR (2021-2022) .
              <a
                class="btn btn-secondary text-start shadow-none"
                title="Click for more"
                href="http://www.ltpbetel.ro/Documente/inscriereprimar2021/Anexa%202%20Calendar_inscriere_primar_2021_2022.pdf"
                >more...</a
              >
            </div>
            <div>
              Criterii specifice de departajare.
              <a
                class="btn btn-secondary text-start shadow-none"
                title="Click for more"
                href="http://www.ltpbetel.ro/Documente/inscriereprimar2021/Adresa%206122_Betel.pdf"
                >more...</a
              >
            </div>
            <div>
              Anunt privind inscrierea la clasa pregatitoare.
              <a
                class="btn btn-secondary text-start shadow-none"
                title="Click for more"
                href="http://www.ltpbetel.ro/Documente/inscriereprimar2021/ANUNT_Clasa%20pregatitoare_2021.pdf"
                >more...</a
              >
            </div>
            <div>
              Documente pentru inscriere (Anexe 1, 2, 3).
              <a
                class="btn btn-secondary text-start shadow-none"
                title="Click for more"
                href="http://www.ltpbetel.ro/Documente/inscriereprimar2021/Anexe%201%20-%202%20-%203%20metodologie%20%C3%AEnscriere%20invatamant%20primar%202021_2022.pdf"
                >more...</a
              >
            </div>
            <div>
              Informatii pentru parinti privind inscrierea online.
              <a
                class="btn btn-secondary text-start shadow-none"
                title="Click for more"
                href="http://www.ltpbetel.ro/Documente/inscriereprimar2021/INFORMA%C8%9AII%20PENTRU%20P%C4%82RIN%C8%9AI%20PRIVIND%20%C3%8ENSCRIEREA%20ONLINE.docx"
                >more...</a
              >
            </div>
          </div>
          <div class="mt-5">
            <h5>Inscriere la gradinita:</h5>
            <div class="ms-4">
              Rezultate Etapa I Faza I.
              <a
                class="btn btn-secondary text-start shadow-none"
                title="Click for more"
                href="http://www.ltpbetel.ro/Documente/gradinita_2021_2022/Grupa%20mica.pdf"
                >more...</a
              >
            </div>
          </div>
        </div>
      </div>
    </BarsBox>
  </div>
</template>
<script>
import WhiteBox from "@/components/WhiteBox.vue";
import BarsBox from "@/components/BarsBox.vue";

export default {
  components: { WhiteBox, BarsBox },
};
</script>
<style lang=""></style>
