<template>
  <div>
    <WhiteBox
      data-aos="fade-right"
      data-aos-offset="300"
      data-aos-duration="1500"
      data-aos-easing="ease-in-sine"
      data-aos-once="true"
    >
      <div class="row">
        <div class="col mb-4">
          <h4>Anunturi:</h4>
        </div>
        <div class="col">
          <button
            class="btn shadow-none float-end d-lg-none"
            @click="flipPageF()"
          >
            <i class="bi bi-chevron-right"></i>
          </button>
          <button
            class="btn shadow-none float-end d-lg-none"
            @click="flipPageB()"
          >
            <i class="bi bi-chevron-left"></i>
          </button>
        </div>
      </div>
      <div class="row">
        <div class="d-flex">
          <div class="flex-fill">
            <div class="d-flex flex-wrap justify-content-evenly">
              <div v-for="(anunt, index) in anunturi" :key="index">
                <AnuntBox :title="anunt.title" :details="anunt.content" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </WhiteBox>
    <BarsBox>
      <div class="row flex-column">
        <div class="col">
          <h4>Noutati legistlative:</h4>
        </div>
        <div class="col ms-4">
          <h6>Mobilitate personal didactic</h6>
          <ul>
            <li>
              <a
                class="btn"
                href="http://www.ltpbetel.ro/Documente/noutati-legislative/Anexa%20OMEC%205991_aprobare%20%20_Metodologie%20_mobilitate%20pers_didactic%202021_2022.pdf"
                >Calculare medie SEM 1 an scolar 2020 - 2021</a
              >
            </li>
            <li>
              <a
                class="btn"
                href="http://www.ltpbetel.ro/Documente/noutati-legislative/Media%20sem%20I%20OMEC%205977_2020%20-%20Publicare%2011%20Noiembrie%202020.pdf"
              >
                Modificari ROFUIP 2020</a
              >
            </li>
            <li>
              <a
                class="btn"
                href="http://www.ltpbetel.ro/Documente/noutati-legislative/MODIFICARI%20ROFUIP_2020.pdf"
              >
                OMEC 6201</a
              >
            </li>
            <li>
              <a
                class="btn"
                href="http://www.ltpbetel.ro/Documente/noutati-legislative/OMEC-6200_Modificare-Metodologie-on-line%20(1).pdf"
              >
                OMEC 6200 - Metodologie predare Online</a
              >
            </li>

            <li>
              <a
                class="btn"
                href="http://www.ltpbetel.ro/Documente/noutati-legislative/Ordin_5915.pdf"
              >
                Ordin 5915</a
              >
            </li>
            <li>
              <a
                class="btn"
                href="http://www.ltpbetel.ro/Documente/noutati-legislative/ROFUIP_ORDIN%20ADMINISTRATIE%20PUBLICA%20%205447_2020%20-%20Publicare%2009%20Septembrie%202020.pdf"
              >
                ROFUIP</a
              >
            </li>
          </ul>
        </div>
      </div>
    </BarsBox>
  </div>
</template>
<script>
import WhiteBox from "@/components/WhiteBox.vue";
import BarsBox from "@/components/BarsBox.vue";
import AnuntBox from "@/components/AnuntBox.vue";
import axios from "axios";

export default {
  components: { WhiteBox, BarsBox, AnuntBox },
  data() {
    return {
      anunturi: [],
    };
  },
  mounted() {
    this.getList();
  },

  methods: {
    getList() {
      axios
        .get("http://yearproject.local/announcements.json")
        .then((response) => {
          console.log(response.data);
          this.anunturi = response.data;
        });
    },
  },
};
</script>
<style lang="scss">
.anunt {
  border: 1px rgb(135, 139, 161);
  background-color: rgb(81, 86, 141);
}

.anunt--important {
  text-decoration: underline;
}

.anunt--normal {
  text-decoration: wavy;
}

.errorM {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90vw;
  transform: translate(-50%, -50%);
}
</style>
