<template>
  <div>
    <div class="card mb-2 ms-1" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title anunt anunt--normal">{{ title }}</h5>
        <p class="card-text">{{ details }}</p>
        <a class="btn btn-secondary float-end">more...</a>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: ["title", "details"],
};
</script>
<style lang=""></style>
