<template>
  <div
    class="container p-5 border-start border-end border-secondary top-margin"
  >
    <slot></slot>
  </div>
</template>
<script>
export default {};
</script>
<style lang=""></style>
