<template>
  <div>
    <div class="card">
      <div class="d-flex justify-content-center" style="font-size: 4vw">
        <div class="border rounded-circle text-center cricle-size">
          <i class="bi bi-person-fill"></i>
        </div>
      </div>
      <div class="card-body text-center">
        <h5 class="card-title">{{ Position }}</h5>
        <h6 class="card-text">{{ Name }}</h6>
        <p class="card-text">Disciplina:</p>
        <p class="card-text">{{ Course }}</p>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: ["Position", "Name", "Course"],
};
</script>
<style lang=""></style>
