<template>
  <div>
    <div class="headerColor border-1 border-bottom border-secondary header-h">
      <div class="container">
        <div class="row">
          <div class="col d-flex justify-content-start mb-4 p-2 margin-l">
            <div class="d-flex flex-column ms-4 ms-sm-0">
              <router-link to="/" class="header-text">
                <p class="fs-6 margin-b">LICEUL TEOLOGIC</p>
                <div class="fs-4 fw-bold">PENTICOSTAL BETEL</div>
                <div class="fs-6 margin-t">ORADEA</div>
              </router-link>
            </div>
          </div>
          <div class="col p-3 d-none d-lg-block margin-r">
            <div class="d-flex flex-row justify-content-end">
              <router-link to="/contact" class="header-text">
                <div class="d-flex flex-row">
                  <div class="d-flex flex-row">
                    <i class="bi bi-telephone-fill float-start fs-3"></i>
                    <div>
                      <div>Telefon:</div>
                      <div>0259-410262</div>
                    </div>
                  </div>
                  <div class="float-end d-flex flex-row">
                    <i class="bi bi-geo-alt-fill float-start fs-3"></i>
                    <div>
                      <div>Locatie:</div>
                      <div>Str. Nicolae Şova Nr.6</div>
                    </div>
                  </div>
                </div>
              </router-link>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {};
</script>
<style lang="scss">
/* header */
.headerColor {
  background: linear-gradient(to right top, #133a59, #0e3d62);
}

body {
  background-image: -webkit-linear-gradient(left, #e2e2e2, #e7e7e7);
}

.header-text,
.header-text:hover {
  color: white;
  text-decoration: none;
}

.header-h {
  height: 7.5rem;
}
.margin-l {
  margin-left: -2vw;
}
.margin-b {
  margin-bottom: -0.625rem;
}
.margin-t {
  margin-top: -0.625rem;
}
.margin-r {
  margin-right: -3vw;
}
</style>
