<template>
  <div>
    <div class="card mb-3 cardColor">
      <div class="card-body">
        <h5 class="card-title">{{ title }}</h5>
        <p class="card-text ms-2">
          {{ content }}
        </p>
        <router-link class="btn btn-secondary float-end" to="/despre-noi"
          >Detalii</router-link
        >
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: ["title", "content"],
};
</script>
<style lang=""></style>
