<template lang="">
  <div>
    <nav
      class="navbar container navbar-expand-lg navbar-light navBarColor border d-flex align-items-center"
      :class="classObject"
      style="margin-top: -35px"
    >
      <div class="fw-bold d-lg-none">{{}}</div>
      <!--curent page-->
      <button
        class="navbar-toggler border-0"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
        @click="changeRounded()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="col navbar-nav d-flex justify-content-evenly">
          <li class="nav-item" v-for="link in links">
            <router-link class="nav-link" :to="link.path">
              <div v-if="link.path == curent" class="boldT">
                {{ link.name }}
              </div>
              <div v-else>{{ link.name }}</div>
            </router-link>
          </li>
        </div>
      </div>
    </nav>
    <!-- Navbar end -->
  </div>
</template>
<script>
export default {
  data() {
    return {
      links: this.$router.options.routes,
      curent: "/",
      wSize: window.innerHeight,
      rounded: true,
    };
  },
  watch: {
    $route(to, from) {
      this.show = false;
      this.curent = to.path;
    },
  },
  computed: {
    classObject() {
      let val = this.rounded
        ? "rounded-pill justify-content-between "
        : "rounded-3 justify-content-end ";
      return val;
    },
    alignL() {
      let val = this.rounded
        ? "justify-content-between "
        : " justify-content-end ";
      return val;
    },
  },
  methods: {
    changeRounded() {
      this.rounded = !this.rounded;
    },
  },
};
</script>
<style lang="scss">
/* nav */
.navBarColor {
  background: white;
}
.navBarColor-blur {
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(8px);
}

.boldT {
  font-weight: bold;
}
</style>
