<template>
  <div>
    <div class="fixed-bottom">
      <button
        class="btn btn-outline-secondary float-end shadow-none rounded-pill"
        @click="scrollUp()"
      >
        <i class="bi bi-chevron-up"></i>
      </button>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {};
  },
  methods: {
    scrollUp() {
      window.scrollTo(0, 0);
    },
  },
};
</script>
<style lang=""></style>
