<script>
import { RouterLink, RouterView } from "vue-router";
import HeaderComponent from "@/components/HeaderComponent.vue";
import NavBar from "@/components/NavBar.vue";
import UpButton from "@/components/UpButton.vue";
import "bootstrap";

export default {
  components: { HeaderComponent, NavBar, UpButton },
};
</script>

<template>
  <HeaderComponent />
  <NavBar />
  <UpButton />
  <RouterView />
</template>

<style lang="scss">
@import "bootstrap";
@import "bootstrap-icons";
.glass {
  /* background: rgb(255, 255, 255); */
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
}

$marginSize: 1.25rem;

.top-margin {
  margin-top: $marginSize;
}

.btn-secondary {
  .btn-secondary:focus {
    background-color: #d6a357 !important;
  }
  .btn-secondary:hover {
    background-color: #3d3427 !important;
  }
}

a,
a:hover {
  color: white;
  text-decoration: none;
}

a {
  transition: all 0.2s ease-in-out;
}

a:hover {
  transform: scale(1.1);
}
</style>
